[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "==2.139.0"
openai = "==1.38.0"
protobuf = "==5.27.3"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.12"
